version: "3.5"
services:
    novnc:
        container_name: novnc
        image: theasp/novnc
        networks:
          vxlab:
        ports:
          - "8080:8080"
    display2:
        container_name: display2
        image: theasp/novnc
        networks:
          vxlab:
        ports:
          - "8081:8080"
    vxlab-rosie:
        container_name: vxlab-rosie
        build:
          context: .
          dockerfile: Dockerfile.blue
          #network: host
        networks:
          vxlab:
        volumes:
        - type: bind
          source: ./rosie
          target: /root/rosie
        - type: bind
          source: /dev/shm
          target: /dev/shm
        - type: bind
          source: /tmp/.X11-unix
          target: /tmp/.X11-unix
        - type: bind
          source: /dev/dri
          target: /dev/dri
        #environment:
        #  DISPLAY: novnc:0
    vxlab-rosie-nav:
        container_name: vxlab-rosie-nav
        build:
          context: .
          dockerfile: Dockerfile.nav
        networks:
          vxlab:
        volumes:
        - type: bind
          source: ./rosie
          target: /root/rosie
        environment:
          DISPLAY: display2:0
    alvar-head:
        container_name: alvar-head
        build:
          context: alvar_marker_recognition
          dockerfile: Dockerfile
        networks:
          vxlab:
        volumes:
        - type: bind
          source: ./rosie
          target: /root/rosie
        environment:
          LIMB: head
    alvar-right:
        container_name: alvar-right
        build:
          context: alvar_marker_recognition
          dockerfile: Dockerfile
        networks:
          vxlab:
        volumes:
        - type: bind
          source: ./rosie
          target: /root/rosie
        environment:
          LIMB: right_hand

    #
    #
    #
    vxlab-blue:
        container_name: vxlab-blue
        build:
          context: blue-sim
          dockerfile: Dockerfile-melodic
          #network: host
        networks:
          vxlab:
        volumes:
        - type: bind
          source: ./blue-sim/blue
          target: /root/mir100
        environment:
          DISPLAY: novnc:0
        entrypoint: ["sh", "-c", "sleep 21000"]


networks:
    vxlab:
      external: true
      name: vxlab

#networks:
    #vxlab:
        #name: vxlab
        #ipam:
            #config:
              #- subnet: "10.42.170.0/24"
                #- gateway: "10.42.170.254"
