<?xml version="1.0" ?>
<launch>
  <arg name="gui" default="true" />

  <arg name="robot_x"   default="1.0" />
  <arg name="robot_y"   default="1.0" />
  <arg name="robot_yaw" default="0.0" />

  <group>
    <!-- <remap from="joint_states"                   to="blue/joint_states" /> -->
    <remap from="mobile_base_controller/cmd_vel" to="cmd_vel" />
    <remap from="mobile_base_controller/odom"    to="odom_comb" />
  </group>

  <group ns="blue">
  <!-- Add passive + mimic joints to joint_states topic -->
  <node name="joint_state_publisher_blue" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/blue/joint_states]</rosparam>
    <param name="rate" value="200.0" />
  </node>

  <!-- bare minimum required to spawn mir in vxlab world with rosie (controllers?) -->
  <include file="/root/rosie/mir_minimal_gazebo_common.launch">
    <arg name="robot_x"   value="$(arg robot_x)" />
    <arg name="robot_y"   value="$(arg robot_y)" />
    <arg name="robot_yaw" value="$(arg robot_yaw)" />
  </include>
  </group>
</launch>
